<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title><%= title %> | FORSTORBG</title>
  <meta name="description" content="<%= description %>">
  
  <link rel="preload" href="/assets/fonts/47d6d6c1e6da10b8.p.660e3587.woff2" as="font" crossorigin="" type="font/woff2">
  <link rel="preload" href="/assets/fonts/827a210979ea4704.p.5b0890a2.woff2" as="font" crossorigin="" type="font/woff2">
  <link rel="preload" href="/assets/fonts/bb835a708696869b.p.c37cd17c.woff2" as="font" crossorigin="" type="font/woff2">
  <link rel="preload" href="/assets/fonts/c825fd02acae0153.p.1692d83b.woff2" as="font" crossorigin="" type="font/woff2">
  <link rel="preload" as="image" href="/assets/forstore_dark_new.svg">
  <link rel="preload" href="/assets/forstore_lite_new.svg" as="image">
  <link rel="preload" href="/assets/icons/Facebook_Icon_Primary_Blue.svg" as="image">
  <link rel="preload" href="/assets/icons/linkedin-logo.svg" as="image">

  <link rel="stylesheet" href="/_next/static/chunks/3cf92629a4ec7e88.css">
  <link rel="stylesheet" href="/_next/static/chunks/051aa0cac4e5a18c.css">
  <% if (typeof stylesheets !== 'undefined' && Array.isArray(stylesheets)) { %>
    <% stylesheets.forEach(function(cssPath) { %>
      <link rel="stylesheet" href="<%= cssPath %>">
    <% }); %>
  <% } else if (page.url && page.url.startsWith('/equipment/') && page.url !== '/equipment/') { %>
    <link rel="stylesheet" href="/_next/static/chunks/fdedda43be506c50.css">
    <link rel="stylesheet" href="/_next/static/chunks/702cd381b41a98a9.css">
  <% } else if (page.url === '/') { %>
    <link rel="stylesheet" href="/_next/static/chunks/fdedda43be506c50.css">
  <% } %>

  <link rel="icon" href="/assets/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/assets/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="icon" href="/assets/forstore_ico.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
</head>
<body class="google_sans_42955067-module__RzqGtG__variable raleway_5ea59cd6-module__dzsAeG__variable google_sans_42955067-module__RzqGtG__className">
  <div hidden=""><!--$--><!--/$--></div>
  <header class="Header-module__ldgnoG__header <%= (page.url !== '/') ? 'Header-module__ldgnoG__light' : '' %>">
    <div class="Header-module__ldgnoG__container">
      <a href="/">
        <img src="<%= (page.url !== '/') ? '/assets/forstore_lite_new.svg' : '/assets/forstore_dark_new.svg' %>" alt="Logo Forstor BG" title="Logo Forstor BG" class="Logo-module__FeqWJG__logo" width="207" height="40">
      </a>
      <nav class="Navigation-module__l8qRma__navigation">
        <button class="Navigation-module__l8qRma__burger <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %>" aria-label="Toggle menu" id="burger-menu-btn">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" aria-hidden="true" height="40" width="40" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="Navigation-module__l8qRma__navMenu" id="nav-menu">
          
          <div class="Navigation-module__l8qRma__navItem">
            <div class="Navigation-module__l8qRma__navLinkWrapper">
              <a title="Equipment" href="/equipment/">
                <span class="Navigation-module__l8qRma__link <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %> <%= page.url.startsWith('/equipment/') ? 'Navigation-module__l8qRma__activeLink' : '' %>">Equipment</span>
              </a>
              <button class="Navigation-module__l8qRma__dropdownToggle" aria-label="Toggle Equipment" id="dropdown-toggle-btn">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="Navigation-module__l8qRma__navLinkIcon <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %>" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path>
                </svg>
              </button>
            </div>
            <div class="Navigation-module__l8qRma__dropdown" id="dropdown-menu">
              <a title="Static racks" class="Navigation-module__l8qRma__dropdownLink Navigation-module__l8qRma__dropdownHeading" href="/equipment/#statichni-stelazhi">Static racks</a>
              <a title="Standard pallet system" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/standard-pallet-system/">Standard pallet system</a>
              <a title="Walk-through shelving system" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/walk-through-shelving-system/">Walk-through shelving system</a>
              <a title="Racks for manual service" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/racks-for-manual-service/">Racks for manual service</a>
              <a title="Cantilever racks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/cantilever-racks/">Cantilever racks</a>
              <a title="Mezzanine type racks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/mezzanine-type-racks/">Mezzanine type racks</a>
              <a title="Super 1-2-3" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/super-123/">Super 1-2-3</a>
              <a title="Commercial equipment" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/commercial-equipment/">Commercial equipment</a>
              
              <a title="Dynamic racks" class="Navigation-module__l8qRma__dropdownLink Navigation-module__l8qRma__dropdownHeading" href="/equipment/#dinamichni-stelazhi">Dynamic racks</a>
              <a title="Compact storage system" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/compact-storage-system/">Compact storage system</a>
              <a title="Radio shuttle rack system" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/radio-shuttle-racking-system/">Radio shuttle rack system</a>
              <a title="Autonomous Mobile Robots (AMRs)" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/autonomous-mobile-robots/">Autonomous Mobile Robots (AMRs)</a>
              <a title="Gravity pallet racks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/pallet-flow-racking/">Gravity pallet racks</a>
              <a title="Push-Back pallet racks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/push-back-pallet-racking/">Push-Back pallet racks</a>
              <a title="Gravity system for cartons and boxes" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/gravity-system-for-cartons-and-boxes/">Gravity system for cartons and boxes</a>
              <a title="Mobile archive system" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/mobile-archive-system/">Mobile archive system</a>
              <a title="Self-supporting warehouses" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/self-supporting-warehouses/">Self-supporting warehouses</a>
              
              <a title="Lifting Equipment" class="Navigation-module__l8qRma__dropdownLink Navigation-module__l8qRma__dropdownHeading" href="/equipment/#lifting-equipment">Lifting Equipment</a>
              <a title="Forklifts and gas trucks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/forklifts-and-gas-trucks/">Forklifts and gas trucks</a>
              <a title="Electric cars" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/electric-forklifts/">Electric cars</a>
              <a title="Richtracs" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/reach-trucks/">Richtracs</a>
              <a title="Stackers" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/stackers/">Stackers</a>
              <a title="Electric pallet trucks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/electric-pallet-trucks/">Electric pallet trucks</a>
              <a title="Manual pallet trucks" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/manual-pallet-trucks/">Manual pallet trucks</a>
              <a title="Scissor platforms" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/scissor-platforms/">Scissor platforms</a>
              <a title="Spare parts and consumables" class="Navigation-module__l8qRma__dropdownLink" href="/equipment/spare-parts-and-consumables/">Spare parts and consumables</a>
            </div>
          </div>

          <div class="Navigation-module__l8qRma__navItem">
            <div class="Navigation-module__l8qRma__navLinkWrapper">
              <a title="Services" href="/services/">
                <span class="Navigation-module__l8qRma__link <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %> <%= page.url.startsWith('/services/') ? 'Navigation-module__l8qRma__activeLink' : '' %>">Services</span>
              </a>
            </div>
          </div>

          <div class="Navigation-module__l8qRma__navItem">
            <div class="Navigation-module__l8qRma__navLinkWrapper">
              <a title="Projects" href="/projects/">
                <span class="Navigation-module__l8qRma__link <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %> <%= page.url.startsWith('/projects/') ? 'Navigation-module__l8qRma__activeLink' : '' %>">Projects</span>
              </a>
            </div>
          </div>

          <div class="Navigation-module__l8qRma__navItem">
            <div class="Navigation-module__l8qRma__navLinkWrapper">
              <a title="Contacts" href="/contact/">
                <span class="Navigation-module__l8qRma__link <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %> <%= page.url.startsWith('/contact/') ? 'Navigation-module__l8qRma__activeLink' : '' %>">Contacts</span>
              </a>
            </div>
          </div>

          <div class="Navigation-module__l8qRma__navItem">
            <div class="Navigation-module__l8qRma__navLinkWrapper">
              <a title="About us" href="/about/">
                <span class="Navigation-module__l8qRma__link <%= (page.url !== '/') ? 'Navigation-module__l8qRma__light' : 'Navigation-module__l8qRma__dark' %> <%= page.url.startsWith('/about/') ? 'Navigation-module__l8qRma__activeLink' : '' %>">For us</span>
              </a>
            </div>
          </div>

          <button type="button" class="Button-module__e7WGRa__phoneBtn Button-module__e7WGRa__size_md">
            <span class="Button-module__e7WGRa__iconLeft">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone" aria-hidden="true">
                <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"></path>
              </svg>
            </span>
            <span>+359 877 486 644</span>
          </button>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <%- content %>
  </main>

  <footer class="Footer-module__Grjkva__footer">
    <div class="Footer-module__Grjkva__container">
      <div class="Footer-module__Grjkva__column">
        <div class="Footer-module__Grjkva__logo">
          <a href="/">
            <img src="/assets/forstore_lite_new.svg" alt="Logo Forstor BG" title="Logo Forstor BG" class="Logo-module__FeqWJG__logo" width="207" height="40">
          </a>
        </div>
        <p class="Footer-module__Grjkva__description">Design and construction of modern warehouse and logistics bases with high functionality, optimized costs and long-term returns.</p>
        <div class="Footer-module__Grjkva__social">
          <a href="https://www.facebook.com/forstorebg" target="_blank" title="Link to Facebook page of Forstorebg.com">
            <img src="/assets/icons/Facebook_Icon_Primary_Blue.svg" alt="Facebook Logo" title="Logo Facebook" class="Footer-module__Grjkva__fblogo">
          </a>
          <a href="https://www.linkedin.com/" target="_blank" title="Link to Linkedin page of Forstorebg.com">
            <img src="/assets/icons/linkedin-logo.svg" alt="Linkedin Logo" title="Logo Linkedin" class="Footer-module__Grjkva__inLogo">
          </a>
        </div>
      </div>

      <div class="Footer-module__Grjkva__column">
        <h4>Services</h4>
        <ul>
          <li><a title="Consultation" href="/services/#consultation">Consultation</a></li>
          <li><a title="Designing" href="/services/#design">Designing</a></li>
          <li><a title="Assembly" href="/services/#installation">Assembly</a></li>
          <li><a title="Support" href="/services/#maintenance">Support</a></li>
          <li><a title="Machine rental" href="/services/#rental">Machine rental</a></li>
        </ul>
      </div>

      <div class="Footer-module__Grjkva__column">
        <h4>Projects</h4>
        <ul>
          <li><a href="/projects/#proekt1">Drive-in racking system</a></li>
          <li><a href="/projects/#proekt2">Production base</a></li>
          <li><a href="/projects/#proekt6">Logistics company</a></li>
          <li><a href="/projects/#proekt5">Two-tier manual service system</a></li>
        </ul>
      </div>

      <div class="Footer-module__Grjkva__column">
        <h4>Contacts</h4>
        <ul class="Footer-module__Grjkva__contact">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin Footer-module__Grjkva__icon" aria-hidden="true">
              <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"></path>
              <circle cx="12" cy="10" r="3"></circle>
            </svg>
            Plovdiv, Bulgaria <br>Brezovsko shose
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone Footer-module__Grjkva__icon" aria-hidden="true">
              <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"></path>
            </svg>
            <a href="tel:+359877486644">+359 877 486 644</a>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail Footer-module__Grjkva__icon" aria-hidden="true">
              <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
              <rect x="2" y="4" width="20" height="16" rx="2"></rect>
            </svg>
            <a href="mailto:office@forstorebg.com">office@forstorebg.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="Footer-module__Grjkva__bottom">
      <span>© 2026 ForstoreBG. All rights reserved.</span>
      <div class="Footer-module__Grjkva__legal">
        <a title="General conditions" href="/terms/">General conditions</a>
        <div class="Footer-module__Grjkva__bar">|</div>
        <a title="Privacy Policy" href="/privacy/">Privacy Policy</a>
        <div class="Footer-module__Grjkva__bar">|</div>
        <a title="Cookie Policy" href="/cookies/">Cookie Policy</a>
      </div>
    </div>
  </footer>

  <div class="ScrollToTopButton-module__VF2H_G__scrollToTopButton" id="scroll-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-chevron-up ScrollToTopButton-module__VF2H_G__scrollIcon" aria-hidden="true">
      <rect width="18" height="18" x="3" y="3" rx="2"></rect>
      <path d="m8 14 4-4 4 4"></path>
    </svg>
  </div>

  <script src="/app.js"></script>
</body>
</html>
